.feedForm__icons{
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    column-gap: auto;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-weight: normal;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feedForm__reaction button{
    background-color: white;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    column-gap: 8px;
    border-radius: 8px;
    font-weight: 500;
}

.feedForm_svg{
    height: 35px;
    width: 35px;
}

.feedForm__reaction:hover button{
    background-color: rgb(231, 223, 223, 0.4);
    border-radius: 8px;
}

.feedForm{
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.feedForm__link{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
}

.feedForm__link span{
    color: black;
}

.div__header{
    height: 50px;
}

.div__foto{
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 5px;
    height: 100%;
}

.div__foto img{
    height: 45px;
    width: 45px;
}

.div__button{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-left: 10px;
}

.div__span{
    width: 100;
    height: 100%;
}

.div__button span{
    color:gray;
    margin-left: 15px;
    text-align: center;
    border-radius: 25px;
}

.div__button:hover{
    background-color: #e6e6e6;
}

.div__btn_post button{
    width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-left: 38%;
    border-radius:30px;
    font-size: 20px;
    background-color: #6aca4f;
    border-color: #6aca4f;
    color: #fff;
}

.div__btn_post button:hover{
    width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-left: 38%;
    border-radius:30px;
    font-size: 20px;
    background-color: #59a344;
    border-color: #59a344;
}

.radioButtonsForm{
    margin-top: 5px;
    right: 0;
}