.div__header{
    display: flex;
}

.btn-cadastro{
    background-color: #9ACD32;
    color: #fff;
}
.btn-cadastro:hover{
    background-color: #89b82b;
    color: #fff;
}

.div__main hr{
    margin-top: 5px;
}

.form{
    margin-top: 10px;
}