.btn-backhome{
    background-color: rgb(245, 245, 241);
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
    border: none;
    margin-top: 10px;
    
}

.btn-backhome:hover{
    background-color: rgb(231, 231, 211);
    border-radius: 25px;
}

.btn-enviar{
    background-color: #9ACD32;
    color: #fff;
    margin-top: 10px;
}

.btn-enviar:hover{
    background-color: #89b82b;
    color: #fff;
}
