.recovery__password{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.recovery__password hr{
    margin-top: 0px;
}

.div__form_main{
    align-self: center;
    align-items: center;
}

.div__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 270px;
}

.div__form input{
    width: 95%;
    margin: 10px;
    
}

.div__form_itens{
    margin: 10px;
}

.btn-backhome{
    width: 95%;
    background-color: rgb(231, 231, 211);
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
    border: none;
    margin: 10px;
    border-radius: 25px;
}

.btn-backhome:hover{
    background-color: rgb(207, 207, 189);
    border-radius: 25px;
}

.btn-enviar{
    width: 95%;
    margin: 10px;
    background-color: #9ACD32;
    color: #fff;
    border-radius: 5px;
}

.btn-enviar:hover{
    background-color: #89b82b;
    color: #fff;
}
