.recovery__password{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.recovery__password hr{
    margin-top: 0px;
}

.div__form_main{
    align-self: center;
    align-items: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.div__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
}

.div__form input{
    width: 95%;
    margin: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div__form_itens{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-backhome{
    height: 40px;
    width: 250px;
    background-color: rgb(231, 231, 211);
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 50px;
    position: fixed;
    color: dimgray;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.btn-backhome:hover{
    box-shadow: 0 0 40px 40px ghostwhite inset;
    color: #007900;
    border-color: #007900;
    border-width: 2px;
}

.btn-enviar{
    background-color: #007900;
    color: #fff;
    height: 40px;
    width: 250px;
    margin-top: 10px;  
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.btn-enviar:hover{
    box-shadow: 0 0 40px 40px ghostwhite inset;
    color: #007900;
    border-color: #007900;
    border-width: 2px;
}
