.friend-card{
    background-image: linear-gradient(180deg, #dfeedf, white, white, white);
    width: 195px;
    height: 365px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: #ccc !important;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.friend-card-open{
    background-image: linear-gradient(180deg, #dfeedf, white, white, white);
    width: inherit;
    height: 465px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: #ccc !important;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.friend-content{
    padding: 0 10px;
    margin: 0;
    display: block;
}

.friend-img{
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-color: #ccc !important;
    border: 1px solid;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    cursor: pointer;
}

.div__card-button{
    position: absolute;
    bottom: 10px;
    align-self: center;
}

.card-button{
    border: 1px solid;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #3d8a50;
    height: 35px;
    width: 175px;
}

.card-button:hover {
    border: 2px solid;
    color: #206130;
}

.friendcardLinkStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    font-style: normal;
    text-decoration: none;
}

.friend-course{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    margin-top: 10px;
}

.friend-usertype{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    max-lines: 2;
    margin-bottom: 10px;
}