*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    background-color: #ccc;
}

.header{
    background-color: white;
    padding: 7px 0;
    display: flex;
}

.headerLeft{
    width: 50%;
    flex-direction: row;
    display: flex;
}

.logo-fb svg{
    color: #9ACD32;
    font-size: 40px;
    margin: 0 40px;
}

.search-form{    
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 40px;
    padding: 8px 10px;
}

.search-fb svg{
    color: grey;
    font-size: 15px;
}

.home-fb{
    margin-left: 250px;
    position: relative;
    padding: 8px 10px;
}

.home-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.home-fb svg{
    color: gray;
    font-size: 25px;
}

.home-fb label{
    font-size: 12px;
}

.friend-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.friend-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.friend-fb svg{
    color: gray;
    font-size: 25px;
}

.friend-fb label{
    font-size: 12px;
}

.chat-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.chat-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.chat-fb svg{
    color: gray;
    font-size: 25px;
}

.chat-fb label{
    font-size: 12px;
}

.university-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.university-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.university-fb svg{
    color: gray;
    font-size: 25px;
}

.university-fb label{
    font-size: 12px;
}

.notification-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.notification-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.notification-fb svg{
    color: gray;
    font-size: 25px;
}

.notification-fb label{
    font-size: 12px;
}

.school-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.school-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.school-fb svg{
    color: gray;
    font-size: 25px;
}

.school-fb label{
    font-size: 12px;
}

.university-fb svg{
    color: gray;
    font-size: 25px;
}

.group-fb{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
}

.group-fb:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 5%;
}

.group-fb svg{
    color: gray;
    font-size: 25px;
}

.group-fb label{
    font-size: 12px;
}

.headerRight{
    width: 50%;
    text-align: right;
    margin: 0 50px;
}

.plus-btn{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    line-height: 36px;
    font-size: 28px;
    cursor: pointer;
}

.feed{
    margin: 20px 100px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.feedForm{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.feedForm img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.feedForm input{
    position: relative;
    top: -8px;
    margin-left: 2%;
    width: calc(100% - 80px);
    height: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding-left: 15px;
    font-size: 20px;
    border: 0;
}

.feedForm input:focus{
    outline: 0;
}

.feedIcons{
    padding: 20px 40px;
    display: flex;
}
.iconSingle{
    width: 33.3%;
    text-align: center;
}

.iconSingle.img svg{
    color: #45bd62;
}

.iconSingle.evn svg{
    color: #f8f408;
}

.iconSingle svg{
    vertical-align: middle;
    font-size: 25px;
    color: #f02849;
}

.iconSingle span{
    font-weight: bold;
    color: gray;
    margin: 0 10px;
}

.feedPostSingle{
margin: 20px 100px;
background-color: white;
border-radius: 15px;
}

.feedPost__profile{
    padding: 10px;
}

.feedPost__profile h3{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 10px;
}

.feedPost__profile h3 > span{
    font-weight: normal;
    font-size: 15px;
}

.feedPost__profile img{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
}

.feedPost__content p{
    margin-left: 10px;
    margin-bottom: 10px;
}

.feedPost__content img{
    width: 100%;
    display: block;
}

.feed_content {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 2rem;
}