@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/green.css';


.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.DialogButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border-width: 0;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  height: 35px;
  outline: none;
  width: 85px;
}
.DialogButton.red {
  background-color: red;
  color: white;
}
.DialogButton.red:hover {
  background-color: var(--red5);
  color: red;
}
.DialogButton.mauve {
  background-color: var(--mauve4);
  color: var(--mauve11);
}
.DialogButton.mauve:hover {
  background-color: var(--mauve5);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.feedPost__profile{
  display: flex;
}

.feedPost__profile img{
    border-color: white;
    margin-top: 6px;
    margin-left: 6px;
}

.div__info{
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    align-items: center;
    margin-right: 63%;
}

.div__info a{
    color: rgb(66, 65, 65);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.div__info a:hover{
    color: #45bd62;
    font-weight: bolder;
    text-decoration: none;
    font-size: 16px;
}

.div__info span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.feedPost__util{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 15px 15px;
    height: 45px;
    width: 100%;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.feedPost__reaction{
    cursor: pointer;
    display: flex;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-weight: 500;
}

.feedPost__reaction:hover{
    background-color: rgba(231, 223, 223, 0.4);
}

.feedPost__reaction svg{
    color: gray;
    font-size: 25px;
}

.feedPost hr{
    border: 0;
    margin: 0;
}

.feed__details{
    text-decoration: none;
    color: rgb(90, 86, 86);
    padding: 10px;
}
.feed__details:hover{
    text-decoration: underline;
}

.feed__coments{
    padding: 13px;
    background-color: #f1f1f1;

}

.btn-coments{
    background-color: #9ACD32;
    color: #fff;
    margin-top: 0px;
}
.dv-ocult{
   display: none;
}

.shadow-interpolacao-feed {
    color: #000;

}

.shadow-interpolacao-feed:hover {
    color: #276013;
}

.feed-comentario-top{
    display: flex;
}
.feed-comentario-texto{
    display: grid;
    background-color: #f1f1f1;
    width: 1200px;
}
.feed-comentario-metad-right{
    text-align: right;
    width: 50%;
    background-color: #f1f1f1;

}
.feed-comentario-metad-left{
    width: 50%;
    text-align: left;
    padding: 5px;
}
.feed-content{
    padding-left: 5px;
}
.feed-content-bt-like{
    display: contents;
}
.feed-content-bt-like span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-left: 3px;
}
.feed-comentario-gostei{
    color:cornflowerblue;
}
.feed-data-modificada{
    color: rgb(171 160 160);
    padding: 5px;
    font-size: 10px;
    font-family: inherit;
}
.feedPost__content{
    width: 100%;
}
.options_div{
  float: right;
  padding-right: 0px;
  margin-right: 0px;
  width: 25px;
  height: 25px; 
}
.options_button{
  margin-right: 0px;
  font-size: larger;
  width: 25px;
  height: 25px;
  float: right;
}
.feedPost{
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  display: block;
}
.media{
  width: 100%;
}
.feedPostSingle{
  margin-top: -2px;
  margin-bottom: 0 ;
}
.likedColor{
  color: red;
}
.notLikedColor{
  color: white;
}