  .cards-display{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div__main_career{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px; 
  }
  
  .div__title_career{
    margin-left: 0px;
    font-size: 28px;
    font-style: bold;
  }
  
  .div__title_career span{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 28px;
    font-style: bold;
  }
  
  .section_course_list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .course_div{
    position: relative;
  }
  
  base {
    display: none;
  }
  /* ESSA PROPRIEDADE ESTÁ INTERFERINDO NO SPAN DO HEADER, VERIFICAR DEPOIS*/
  a {
    color: black;
  }
  a:hover {
    color: black;
  }