@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.div-root{
    background-color: rgb(245, 245, 241);
    height: 105vh;
}
.div-container{
    max-width: 900px;
    margin: 0.5rem auto;
    background-color: #fff;
    height: 450px;
    border-radius: 1vw;
}
.text-logo {    
    margin-left: 40%;
}
.text-logo a{
    font-weight: 900;
    text-decoration: none;
    font-size: 3vw;
    color: #9ACD32;
    font-style: normal;
}
.signin-container__form{
    position: relative;
    justify-content: center;
    height: 100%;
    padding: 0 5rem;
    border-right: 1px solid #f8f8f8;
    min-width: 480px;
}
.signin-container__form p{
    color: #363636;
}
.title{
    font-weight: 800;
    letter-spacing: -.5px;
    font-size: 2em;
    color: #696969;
}
.subtitle{
    font-weight: 1.2em;
    letter-spacing: -.3px;
    margin-bottom: 1em;
}
.select, .textfield{
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.5;
    padding-top: 0.8rem;
    cursor: initial;
}
.textfield input::placeholder {
    color: #f21667;
  }
.textfield label{
    display: block;
    text-align: left;
    box-sizing: border-box;
    color: #696969;
    font-size: 1.2vw;
}
.form-signin h3{
    color: #363636;
    text-align: center;
}
.form-signin input{
    margin: auto;
}
.btn-lg{
    background-color: #9ACD32;
    color: #fff;
    margin-top: 10px;
}
.btn-lg:hover{
    background-color: #89b82b;
    color: #fff;
}
.btn-create{
    background-color: #4682B4;
    color: #fff;
    margin-top: 10px;
}
.col-12 a{
    color: #614EA6;
}
.col-12 a:hover{
    color: #f21667;
}
.auth-form__account a{
    margin-top: 20vw;
    text-decoration: none;
    color: #614EA6;
}
.auth-form__account a:hover{
    color: #f21667;
}
.signinPrivacy{
    border: none;
    background-color: transparent;
    font-weight: normal;
    margin-top: 3rem;
    margin-bottom: 60px;
    color: black;
}
.opcoes-login a{
    text-decoration: none;
    color: darkblue;
}
.opcoes-login a:hover{
    color: #f21667;
    transition: .1s ease-in;
}
.opcoes-login span{
    color: darkblue;
}
.div-create-account{
    padding-top: 52px;
}
.div-create-account h2{
    color: #f21667;
}
.div-create-account button{
    background-color: #f21667;
    color: #fff;
    border-color: #f21667;
    margin-top: 22px;
}
.div-create-account button:hover{
    background-color: #c71556;
    border-radius: 0.5vw;
    border-color: #c71556;
    color: #fff;
}