.btn-lg{
    background-color: #fff;
    color: #614EA6;
}
.btn-lg:hover{
    background-color: #f21667;
    color: #fff;
}
.col-12 a{
    text-decoration: none;
    color: #614EA6;
}
.col-12 a:hover{
    color: #f21667;
}
.auth-form__account a{
    margin-top: 20vw;
    text-decoration: none;
    color: #614EA6;
}
.auth-form__account a:hover{
    color: #f21667;
}
.signinPrivacy{
    border: none;
    background-color: transparent;
    font-weight: normal;
    margin-top: 3rem;
    margin-bottom: 60px;
    color: black;
}
.opcoes-login a{
    text-decoration: none;
    color: darkblue;
}
.opcoes-login a:hover{
    color: #f21667;
    transition: .1s ease-in;
}
.opcoes-login span{
    color: darkblue;
}