.dialog {
    -webkit-box-shadow: 0 0 25px #888888;
        box-shadow: 0 0 25px #888888;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  
  .image {
    width: 150px;
  }  