.btn_icon{
    cursor: pointer;
    margin-left: 25px;
    position: relative;
    padding: 8px 10px;
    background-color: white;
    border: none;
}

.btn_icon:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 50%
}

.btn_icon svg{
    color: gray;
    font-size: 35px;
}