.div_main_editprofile{
    margin: 1%;
    background-color: white;
    padding: 1%;
}

.btn-cadastro{
    background-color: #9ACD32;
    color: #fff;
    width: 45%;
    border-width: 1px;
}

.btn-cadastro:hover{
    background-color: #89b82b;
    color: #fff;
}

.btn-cancel{
    background-color: red;
    color: #fff;
    width: 45%;
    border-width: 1px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.btn-cancel:hover{
    background-color: #89b82b;
    color: #fff;
}

.div__header{
    display: flex;
}

.field_title_label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 1px;
}